<div class="">

    <!-- navbar -->
    <%- include('../common/navbar.ejs') %>

    <h1>Welcome to Management Panel <span class="text-capitalize"> <%= managementName %> 🎉 </span></h1>

    <% if (proposals) { %>
    <% proposals.forEach(proposal => { %>
    <div class="card mt-4">
        <div class="card-body">

            <!-- Project Title -->
            <h4 class="card-title"><%= proposal.projectTitle %></h4>

            <!-- Student Id -->
            <span>Student ID: <%= proposal.studentId %></span>

            <!-- Project Submission Time -->
            <div class="card-subtitle text-muted mb-2">
                <p>Created At : <%= proposal.createdAt.toLocaleDateString() %></p>
            </div>

            <!-- Project Description -->
            <div class="card-text mb-2">
                <span class="text-info">Description :</span> <br>
                <%= proposal.projectDes %>
            </div>

            <!-- Project Language -->
            <div class="card-text mb-2">
                <span class="text-info">Project Lang :</span> <br>
                <%= proposal.projectLang %>
            </div>

            <!-- status -->
            <% if (proposal.isApproved === 'Pending') { %>
            <span class="text-info">Status : <%= proposal.isApproved %></span> <br>
            <% } else if (proposal.isApproved === 'Accepted') { %>
            <span class="text-success">Status : <%= proposal.isApproved %></span> <br>
            <% } else { %>
            <span class="text-danger">Status : <%= proposal.isApproved %></span> <br>
            <% } %>

            <div class="mt-2">
                <a href="proposals/<%= proposal.slug %>" class="btn btn-primary">Read More</a>
            </div>
        </div>

    </div>

    <% }) %>

    <div class="m-2"></div>
    <% } else { %>
    <div class="">
        <p class="text-dark">NO project submitted yet! 🙂</p>
    </div>
    <% } %>

</div>
</div>


<!-- Footer -->
<%- include('../common/footer.ejs') %>
<!-- Footer -->
