<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Project Fair</title>
</head>

<body>
    <div class="container">

        <!-- navbar -->
        <%- include('../common/navbar.ejs') %>

        <div class="card mt-4">
            <div class="card-body">
                <h4 class="card-title"><%= proposal.projectTitle %></h4>
                <span>ID: <%= proposal.studentId %></span>
                <div class="card-subtitle text-muted mb-2">
                    <p>Created At : <%= proposal.createdAt.toLocaleDateString() %></p>
                </div>
                <div class="card-text mb-2"> description: <br> <%= proposal.projectDes %></div>
                <div class="card-text mb-2"> Project Lang : <br> <%= proposal.projectLang %></div>
                
                <!-- status -->
                <% if (proposal.isApproved === 'Pending') { %>
                    <span class="text-info">Status : <%= proposal.isApproved %></span> <br>
                <% } else if (proposal.isApproved === 'Accepted') { %>
                    <span class="text-success">Status : <%= proposal.isApproved %></span> <br>
                <% } else { %>
                    <span class="text-danger">Status : <%= proposal.isApproved %></span> <br>
               <% } %>
            </div>
        </div>

        <div class="btn-section mt-2">
            <a href="/management" class="btn btn-secondary">All Proposals</a>
            <a href="/management/proposal-accept/<%= proposal.studentId %>" class="btn btn-info">Accept</a>
            <a href="/management/proposal-reject/<%= proposal.studentId %>" class="btn btn-danger">Reject</a>
        </div>
    </div>

    <!-- Footer -->
    <%- include('../common/footer.ejs') %>
    <!-- Footer -->
</body>

</html>
