<div>
    <!-- navbar -->
    <%- include('../common/navbar.ejs') %>

    <div class="card mt-4">
        <div class="card-body">

            <!-- Project Title -->
            <h4 class="card-title"><%= proposal.projectTitle %></h4>

            <!-- Student Id -->
            <span>Student ID: <%= proposal.studentId %></span>

            <!-- Project Submission Time -->
            <div class="card-subtitle text-muted mb-2">
                <p>Created At : <%= proposal.createdAt.toLocaleDateString() %></p>
            </div>

            <!-- Project Description -->
            <div class="card-text mb-2">
                <span class="text-info">Description :</span> <br>
                <%= proposal.projectDes %>
            </div>

            <!-- Project Language -->
            <div class="card-text mb-2">
                <span class="text-info">Project Lang :</span> <br>
                <%= proposal.projectLang %>
            </div>

            <!-- status -->
            <% if (proposal.isApproved === 'Pending') { %>
            <span class="text-info">Status : <%= proposal.isApproved %></span> <br>
            <% } else if (proposal.isApproved === 'Accepted') { %>
            <span class="text-success">Status : <%= proposal.isApproved %></span> <br>
            <% } else { %>
            <span class="text-danger">Status : <%= proposal.isApproved %></span> <br>
            <% } %>

        </div>

    </div>

    <div class="btn-section mt-2 mb-5">
        <a href="/management/<%= managementName %>" class="btn btn-secondary">All Proposals</a>
        <a href="/management/proposal-accept/<%= proposal.studentId %>" class="btn btn-info">Accept</a>
        <a href="/management/proposal-reject/<%= proposal.studentId %>" class="btn btn-danger">Reject</a>
    </div>
</div>


<div class="fixed-bottom">
    <!-- Footer -->
    <%- include('../common/footer.ejs') %>
    <!-- Footer -->
</div>
